# Flutter
.dart_tool/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies
build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/local.properties
android/key.properties
*.lock
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.pytest_cache/
.mypy_cache/
htmlcov/
.coverage

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
